@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary: #5f6fff;
}

@layer base {
  * {
    font-family: var(--font-outfit);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
